.text{
    font-size: 15px;
}
.heading{
    font-size: 15px;
}
.message{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}
@media screen and (max-width:550px) {
    .text{
        font-size: 8px;
    }
    .heading{
        font-size: 12px;
    }
}